<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="login.js" defer></script>
    <link rel="stylesheet" href="cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   
    <title>WANNA HAND KID?</title>
</head>
<body>
  <section class="barrabrancacadastro">
    <img class="fidodido" src="fidodido.png" width="40" height="30"></img>
    <section class="cor_fundo">
      <div class="formularioclass">
        <form id="formulario">
          <p class="cadastro"> Cadastro </p>
          <input class="campo1" type="text" id="campo1" placeholder="Nome">
          <p>
          <input class="campo2" type="text" id="campo2" placeholder="E-mail">
          </p>
          <input class="campo3" type="text" id="campo3" placeholder="Senha">
          <p>
            <select required class="campo4">
              <option value="categoria" disabled selected> Categoria </option>
              <option class="opcao1" value="opcao1">Pai/Mãe</option>
              <option class="opcao2" value="opcao2">Professor/Professora</option>
              <option class="opcao3" value="opcao3">outro</option>
            </select>
          </p>
          <input class="campo5" type="text" id="campo5" placeholder="Profissao">
        </form>
      </div>
      <div>
        <input class="campo6" type="submit" value="Entrar">
      </div>
    </section>
  </section>
  <script src="JS/cadastro.js"></script>
</body>
</html>